pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
/src/clj/pva_parrot
/src/cljs/pva_parrot
/org/pva-parrot.html
/build.boot
org/*\[\*Org*
