pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
/src/clj/pva_parrot/styles.clj
/src/cljs/pva_parrot/app.cljs
/org/pva-parrot.html
/build.boot
org/*\[\*Org*
/src/cljs/pva_parrot/plot.cljs
