
html {
    background: #333;
    height: 100%;
}

body {
    padding: 20px;
    min-height: 100%;
    font-size: large;
    margin: 0 auto;
    max-width: 900px;
}

pre.src {
    line-height: 1.5em;
    padding: 0.5em;
}

span.code-highlighted {
    border-bottom: 2px solid red;
}
